@use "sass:map";
@use 'sass:math';
@use "colors" as *;


@for $i from 0 through 360 {
    .rotate-#{$i} {
        rotate: $i * 1deg;
    }
}

@for $i from 0 through 100 {
    .rounded-#{$i} {
        border-radius: $i * 1px !important;
    }
}

@for $i from 0 through 100 {
    .rounded-top-left-#{$i} {
        border-top-left-radius: $i * 1px;
    }
}
 

@for $i from 0 through 100 {
    .rounded-top-right-#{$i} {
        border-top-right-radius: $i * 1px !important;
    }
}

@for $i from 0 through 100 {
    .fz-#{$i} {
        font-size: $i * 1px !important;
    }
}



@for $i from 10 through 100 {
    .w-#{$i}-perc {
        width: $i * 1%;
    }
}

@for $i from 0 through 100 {
    .max-w-#{$i} {
        max-width: $i * 1% !important;
    }
}

@for $i from 0 through 1000 {
    .w-#{$i}-px {
        width: $i * 1px !important;
    }
}

@for $i from 0 through 1000 {
    .min-width-#{$i}-px {
        min-width: $i * 1px !important;
        width: $i * 1px !important;
    }
}

@for $i from 0 through 2000 {
    .min-width-#{$i} {
        min-width: $i * 1px !important;
    }
}

 

@for $i from 0 through 2000 {
    .height-#{$i}-px {
        height: $i * 1px !important;
    }
}

@for $i from 0 through 2000 {
    .min-height-#{$i}-px {
        min-height: $i * 1px !important;
    }
}

@for $i from 0 through 2000 {
    .max-height-#{$i}-px {
        max-height: $i * 1px !important;
    }
}

@for $i from 0 through 100 {
    .max-height-#{$i}-vh {
        max-height: $i * 1vh !important;
    }
}

@for $i from 0 through 100 {
    .min-height-#{$i}-vh {
        min-height: $i * 1vh !important;
    }
}

@for $i from 0 through 100 {
    .height-#{$i}-vh {
        height: $i * 1vh !important;
    }
}

@for $i from 0 through 100 {
    .height-#{$i}-perc {
        height: $i * 1% !important;
    }
}

@for $i from 0 through 100 {
    .max-height-#{$i}-perc {
        max-height: $i * 1% !important;
    }
}

@for $i from 0 through 100 {
    .line-height-#{$i} {
        line-height: $i * 1px !important;
    }
}

@for $i from -100 through 100 {
    .top-#{$i} {
        top: $i * 1px !important;
    }
}

@for $i from -100 through 100 {
    .bottom-#{$i} {
        bottom: $i * 1px !important;
    }
}

@for $i from -100 through 100 {
    .right-#{$i} {
        right: $i * 1px !important;
    }
}

@for $i from -100 through 100 {
    .left-#{$i} {
        left: $i * 1px !important;
    }
}

.z-index-0 {
        z-index: 0 !important;
    }
.z-index-1 {
        z-index:1 !important;
    }
.z-index-1000 {
        z-index:1000 !important;
    }

 

@mixin flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@for $i from 0 through 100 {
    .zoom-#{$i} {
        zoom: math.div($i, 100);
    }
}

@for $i from 0 through 20 {
    .scale-#{$i} {
        scale: math.div($i, 10);
    }
}

@for $i from 0 through 10 {
    .opacity-#{$i} {
        opacity: math.div($i, 10);
    }
}


